@import "../assets/config";

.timeline {
  margin: 0 $padding;
  display: flex;
  touch-action: none;

  .step {
    padding: 0;
    margin: 0 0 0 -1px;
    flex: 1 1 2rem;
    display: block;
    text-indent: -9999px;
    height: 2rem;
    background: #eee;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;
    cursor: ew-resize;

    &.selected {
      background: #52a556;
      z-index: 10;
    }

    &:focus {
      outline: 2px solid rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.3);
      z-index: 20;
    }

    &.runtimeError {
      background: #c00;
    }
  }
}
