@import "./assets/config";

$padding: 1rem;
$preEval: #efede6;
$postEval: #b6e4b8;

.header {
  padding: $padding;
  border-bottom: 1px solid #ccc;

  .logo {
    height: 2rem;
    width: 2rem;
    vertical-align: text-bottom;
    margin: -0.4rem 0.7rem -0.4rem 0;
  }
}

a {
  color: $blue;
}

.code {
  background: #f5f5f5;

  :global(.CodeMirror) {
    padding: $padding;
    pre {
      padding: 0;
    }
  }

  .markedPre {
    background: $preEval;
    outline: 1px solid $preEval;
    &:global(.CodeMirror-selectedtext) {
      background: darken($preEval, 20%);
      outline: 1px solid darken($preEval, 20%);
    }
  }
  .markedPost {
    background: $postEval;
    outline: 1px solid $postEval;
    &:global(.CodeMirror-selectedtext) {
      background: darken($postEval, 20%);
      outline: 1px solid darken($postEval, 20%);
    }
  }
  .markedPre,
  .markedPost {
    &:global(.CodeMirror-selectedtext) {
      position: relative; // to prevent a little css bug
    }
  }
}

.emptyDivider {
  margin: 0;
  height: 0;
  border: none;
  border-top: 2rem solid #eee;
}

.main {
  padding: $padding;

  .error {
    color: #c00;
    font-weight: bold;
  }
}
